.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
